<!-- start custom analytics snippet -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-50881802-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-50881802-1');
</script>

<!-- Default Statcounter code for Fangchang's Homepage https://fangchangma.github.io/ -->
<script type="text/javascript">
    var sc_project = 10073874;
    var sc_invisible = 1;
    var sc_security = "0ecfca0f"; 
</script>
<script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
<noscript>
    <div class="statcounter"><a title="Web Analytics" href="https://statcounter.com/" target="_blank"><img
                class="statcounter" src="https://c.statcounter.com/10073874/0/0ecfca0f/1/" alt="Web Analytics"></a>
    </div>
</noscript>
<!-- End of Statcounter Code -->

<!-- end custom analytics snippet -->